.app {
  text-align: center;
  height: 100%;
  .appWrapper {
    // background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // font-size: calc(10px + 2vmin);
    // color: white;
    .logos {
      display: flex;
      box-sizing: border-box;
      align-items: center;
      justify-content: center;
      padding: 0 5vw;
      width: 100%;
      @media (max-width: 650px) {
        flex-direction: column;
      }
      .imgBox {
        .appLogo {
          pointer-events: none;
        }
        @media (max-width: 500px) {
          display: none;
        }

        @media (prefers-reduced-motion: no-preference) {
          .appLogo {
            animation: App-logo-spin infinite 20s linear;
          }
          @keyframes App-logo-spin {
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }

    button {
      // font-size: calc(10px + 1vmin);
    }

    .staticPublic {
      display: flex;
      align-items: center;
    }
    footer {
      background: #090909;
      width: 100%;
      color: #222;
      font-size: 20px;
      padding: 5px;
    }
  }
}
