body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*::-webkit-scrollbar {
  background-color: #ffffff30;
  width: 8px;
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background-color: #00000060;
  border-radius: 8px;
}
*::-webkit-scrollbar-thumb {
  background-color: #555555;
  border-radius: 8px;
}
*::-webkit-scrollbar-button {
  display: none;
}
p {
  margin: 0.5rem;
}
#root {
  height: 100%;
}
@font-face {
  font-family: "Material Design Icons";
  src: local("Material Design Icons"),
    url("../assets/fonts/materialdesignicons-webfont.woff2") format("woff2"),
    url("../assets/fonts/materialdesignicons-webfont.woff") format("woff");  
  font-weight: normal;
  font-style: normal;
}
/** =================== Montserrat-Alt1 =================== **/

/** Montserrat-Alt1 Thin **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 100;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Thin.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Thin.woff") format("woff");
}

/** Montserrat-Alt1 ExtraLight **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 200;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-ExtraLight.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-ExtraLight.woff") format("woff");
}

/** Montserrat-Alt1 Light **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 300;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Light.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Light.woff") format("woff");
}

/** Montserrat-Alt1 Regular **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Regular.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Regular.woff") format("woff");
}

/** Montserrat-Alt1 Medium **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 500;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Medium.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Medium.woff") format("woff");
}

/** Montserrat-Alt1 SemiBold **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 600;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-SemiBold.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-SemiBold.woff") format("woff");
}

/** Montserrat-Alt1 Bold **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Bold.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Bold.woff") format("woff");
}

/** Montserrat-Alt1 ExtraBold **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 800;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-ExtraBold.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-ExtraBold.woff") format("woff");
}

/** Montserrat-Alt1 Black **/
@font-face {
  font-family: "Montserrat-Alt1";
  font-weight: 900;
  font-style: normal;
  src: url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Black.woff2") format("woff2"),
       url("../assets/fonts/montserrat_alt1/fonts/MontserratAlt1-Black.woff") format("woff");
}